<a class="btn  px-4 flex items-center rounded-[5px] transition duration-200 border-transparent border-[1px] hover:border-brand-blue h-[50px]" href="{{url}}" target="_self">
    <span class="text-brand-blue"> {{text}}</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="13.806" height="13.81" viewBox="0 0 13.806 13.81" class="fill-blue ml-4">
        <path id="Path_4" data-name="Path 4" d="M45.831,97.381A1.379,1.379,0,0,0,44.45,96H34.785a1.381,1.381,0,0,0,0,2.761h6.33l-8.685,8.69a1.382,1.382,0,0,0,1.955,1.955l8.685-8.69v6.33a1.381,1.381,0,0,0,2.761,0Z" transform="translate(-32.025 -96)" fill="#0054a2"/>
    </svg>

</a>