<section data-block="hero-with-text" class="flex flex-col justify-center items-center my-6">
    <div class="container">
        <h1 class="text-5xl font-semibold mb-6">{{fields.title}}</h1>
        <p class="text-lg max-w-[750px] font-light">{{fields.text|nl2br}}</p>
    </div>
</section>
