<section class="container mx-auto pb-8" data-block="services-cards">
    <div class="flex justify-between flex-col md:flex-row">
        <h2 class="text-5xl md:text-6xl font-semibold md:w-1/2 flex items-center md:pl-10">{{ fields.title }}</h2>
        <div class="flex flex-col pt-10 md:p-10 md:w-1/2 text-lg md:pr-16">
            <p>{{fields.description }}</p>
            <div class="mt-6">
                {% include 'components/button/arrow.twig' with {
                'text': 'View All Services',
                'url': fields.all_services_url,
            } %}
            </div>
        </div>
    </div>
    <div class="swiper servicesCards">
         <div class="swiper-wrapper mb-10 ">
            {% for service_group in services %}
                <div class="swiper-slide">
                    <div class="flex justify-between flex-col md:flex-row flex-wrap items-stretch">
                        {% for service in service_group %}
                            <div class="md:w-1/2 py-4 md:p-4 ">
                                <div class="bg-brand-grey-light p-10 min-h-[230px] flex flex-col justify-center ">
                                    <h3 class="text-2xl font-semibold">{{ service.title }}</h3>
                                    <p class="max-w-[400px] my-2">{{get_custom_excerpt(service)}}</p>
                                    <div class="mt-4">
                                        {% include 'components/button/arrow.twig' with {
                                            'text': 'Find out More',
                                            'url': '/' ~ service.post_type ~'/'~ service.slug ~'/',
                                        } %}
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
              
        </div>
        <div class="swiper-pagination"></div>

    </div>
</section>
